@model DTKTLockIdViewModel
@{
    ViewBag.Title = "Khóa số liệu chứng từ";
}
@section Styles{
}
@using (Html.BeginForm("UpdateLockId", "Lock", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @*@Html.AntiForgeryToken()*@
    <div class="container">
        <div class="row">
            <div class="form-group">
                <div class="col-sm-4">
                    <label class="control-label-r">Khóa hay mở:</label>
                    @Html.DropDownList("id_lock", Model.LockList, new { @class = "form-control", onchange = "changeLock()" })

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <label class="control-label-r">Loại:</label>
                    <div id="iloais" class="ls-box" style="min-height:80px; max-height:400px"></div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-sm-4">
                    <label class="control-label-r">Đề nghị:</label>
                    <div id="ireqs" class="ls-box" style="min-height:80px; max-height:400px"></div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <label class="control-label-r">Phòng ban:</label>
                    <div id="phongbans" class="ls-box" style="min-height:80px; max-height:400px"></div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-sm-4">
                    <label class="control-label-r">Người dùng:</label>
                    <div id="users" class="ls-box" style="min-height:80px; max-height:400px"></div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <label class="control-label-r">Đơn vị:</label>
                    <div id="donvis" class="ls-box" style="min-height:80px; max-height:400px"></div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-sm-4">
                    <label class="control-label-r">Lần nhập thứ:</label>
                    <div id="ilans" class="ls-box" style="min-height:80px; max-height:400px"></div>
                </div>
            </div>
        </div>
    </div>

}
@section Scripts{
}
