@using Viettel.Models.QLVonDauTu;
@model IEnumerable<ThongTinGoiThauViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        <!--<div class="card">
            <div class="card-body">
                <div class="form-group header-card">
                    <label class="label-title-card color-text-red">Tiêu chí tìm kiếm</label>
                    <i class="fa fa-chevron-down fa-1x close-card-condition" aria-hidden="true" data-toggle="collapse" data-target="#card-condition" aria-expanded="true" aria-controls="card-condition"></i>
                </div>
                <div class="card-condition collapse" id="card-condition">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4">
                            <label>Dự án</label>
                            <input type="text" class="form-control clearable" id="txt_tenDuAn" />
                        </div>
                        <div class="col-sm-4">
                            <label>Tên gói thầu</label>
                            <input type="text" class="form-control clearable" id="txt_tenGoiThau" />
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <div>
                                    <label cl>Giá trị gói thầu</label>
                                </div>
                            </div>
                            <div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control " id="txt_giaTriMin" />
                                </div>-->
        @*<span>-</span>*@
        <!--<div class="col-sm-1 center">
                                    <label style="">_</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control " id="txt_giaTriMax" />
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-info" onclick="SearchData()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="card">
            <div class="card-body" id="lstDataView">
                @Html.Partial("_list", Model)
            </div>
        </div>
    </div>
</div>

@* Modal confirm *@
<div id="divModalConfirm">

</div>

@section Scripts{
    @*@Html.Partial("_SheetScript")*@
    <script src="~/Scripts/QLVonDauTu/GoiThau/jsVDT_ListGoiThau.js"></script>

    <script>
        var sUrlListView = "";
        $(document).ready(function () {
            sUrlListView = '@Url.Action("DMKhoiDonviQLListView", "DMKhoiDonviQL")';
        });
    </script>
}

