@{
    ViewBag.Title = "Cấu hình in báo cáo";
}
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">@ViewBag.Title</span>
    </div>
    <div class="panel-body">
        <div class="">
            <div class="row">
                <div class="col-xs-10">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Chọn loại phiếu in:</label>
                            <div class="col-sm-7" id="loaiBC">
                                <div class="radio radio-inline radio-success">
                                    <input type="radio" name="loaiBC" checked="checked" value="1" id="loaiBC1" />
                                    <label for="loaiBC1">
                                        Giấy đề nghị của cơ quan thanh toán
                                    </label>
                                </div>
                                <div class="radio radio-inline radio-success">
                                    <input type="radio" name="loaiBC" value="2" id="loaiBC2" />
                                    <label for="loaiBC2">
                                        Phần ghi của cơ quan tài chính
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        @Html.Partial("_ui_dvt")
                    </form>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <span class="text-muted">|</span>
                <a class="btn-mvc" id="btnChuKy"><i class="fa fa-file-excel"></i>Sửa chữ ký</a>
                <a class="btn-mvc" id="btn-cancel" data-dismiss="modal">Hủy</a>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ui_chuky")
