@using Viettel.Models.QLNH
@model  ThongTriCapPhatCreateViewModel
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="modal-dialog" role="document" style="width:80%">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title text-bold text-left" id="">THÔNG TRI CẤP PHÁT</h3>
            <h4><b>@ViewBag.Title</b></h4>
        </div>
        <hr />
        <div id="contentmodalThongTriCapPhat" class="modal-body">
            <div class="thongtinchung">
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label for="txtmathongtri" class=""> Mã thông tri <span class="require">*</span> </label>
                        <input type='text' class="form-control" value="" id="imathongtri" />
                    </div>
                    <div class="col-sm-2">
                        <label for="txtngaylap">Ngày lập <span class="require">*</span></label>
                        <div class='input-group date'>
                            <input type='text' class="form-control" value="" id="ingaylap" autocomplete="off" />
                            <span class="btn-default input-group-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label for="drpdonvi">Đơn vị <span class="require">*</span> </label>
                        @Html.DropDownList("iID_Ma", (SelectList)(ViewBag.ListDonViQuanLy), new { @class = "form-control", @id = "idonvi", @onchange = "onChangeThongTriCapPhat()" })
                    </div>
                    <div class="col-sm-2">
                        <label for="drpnam" class=""> Năm<span class="require">*</span></label>
                        <select class="form-control" id="inam" onchange="onChangeThongTriCapPhat()">
                        </select>

                    </div>
                    <div class="col-sm-2">
                        <label for="drploaithongtri" class="">Loại thông tri <span class="require">*</span></label>
                        <select class="form-control" id="iloaithongtri" onchange="onChangeThongTriCapPhat()">
                            <option value="">--Loại thông tri--</option>
                            <option value="1">Thông tri cấp kinh phí</option>
                            <option value="2">Thông tri thanh toán</option>
                            <option value="3">Thông tri tạm ứng</option>
                            <option value="4">Thông tri giảm cấp kinh phí</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="drploainoidung" class="">Loại nội dung <span class="require">*</span></label>
                        <select class="form-control" id="iloainoidung" onchange="onChangeThongTriCapPhat()">
                            <option value="">--Chọn loại nội dung --</option>
                            <option value="1">Chi ngoại tệ</option>
                            <option value="2">Chi trong nước</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="color-background-blue"></div>
            <div id="lstThanhToanThongTri">
                @*Danh sách phê duyệt thnh toán*@
                @Html.Partial("_tt_thongtri", Model.thanhtoan_thongtri);
            </div>
            

        </div>
        <div class="color-background-blue"></div>
        <div class="modal-footer">
            <div class="text-center">
                <button class="btn btn-default" id="btnVoucherCancel" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
                <button class="btn btn-primary" id="btnVoucherSave" onclick="SaveData()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.date')
            .datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                language: 'vi',
                todayHighlight: true,
                format: 'dd/mm/yyyy'
            });
        LoadThongTinNam();
    })
</script>