@{
    //Layout = "~/Views/Shared/_LayoutFull.cshtml";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
@section Styles{
    <link rel="Stylesheet" type="text/css" href="~/Content/css/sheet.css">
}
<div class="container-fluid">
    @RenderBody()
</div>