body {
    /*padding-top: 60px;*/
    /*padding-bottom: 20px;*/
    /*min-height: 1200px;*/
    font-size: 13px;
}

#main-body {
    margin-top: 10px;
    padding: 10px;
}

    #main-body .control-label {
        font-size: 12px;
    }

.ls-box {
    border: 1px solid;
    /*border-top: 2px solid;*/
    /*border-bottom: 1px solid;*/
    border-color: #ddd;
    max-height: 360px;
    /*min-height: 240px;*/
    width: 100%;
    overflow-y: auto;
    margin: -2px;
    margin-top: 0px;
}

    .ls-box span {
        font-size: 14px;
    }

.ls-box-empty {
    border: 1px solid;
    border-color: #ddd;
    padding-left: 10px;
    padding-top: 31px;
    padding-bottom: 40px;
}

.valign-center {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.table-box {
    /*border-left: 2px solid;*/
    /*border-right: 2px solid;*/
    /*border-bottom: 2px solid;*/
    border-color: #ddd;
}

checkbox .table-box {
    margin-bottom: 5px;
    margin-top: 5px;
}


.table-box .checkbox {
    margin-bottom: 0px;
    margin-top: 2px;
    padding-left: 25px;
    align-self: center;
}

.table-box label {
    margin-top: 5px;
    font-weight: normal;
}


footer {
    position: absolute;
    /*bottom: 0px;*/
    width: 100%;
}


.font-normal {
    font-size: medium;
}

.font-l {
    font-size: larger;
}

.font-xl {
    font-size: x-large;
}


.ls-box .table {
    margin-bottom: 0px;
}

/*
    fix mouse move open submenu
*/

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

.nav .dropdown-toggle .caret {
    /*display: none;*/
}


.nav .menu1 {
    font-weight: bolder;
    font-size: 14px;
    display: block;
    border-right: 1px;
    border-right-color: white;
}

    .nav .menu1 a:hover {
        /*color: lightcoral;*/
        /*background-color: orangered;*/
    }



.nav .menu2 {
    font-weight: normal;
}


.nav .menu3 {
    margin-left: 24px;
    font-size: 15px;
}

.nav .menu-header {
    font-weight: bold;
    color: indianred;
}


/*table.scroll {
    width: 100%;   Optional 
     border-collapse: collapse; 
    border-spacing: 0;
    border: 2px solid black;
    height: 200px;
}

    table.scroll tbody,
    table.scroll thead {
        display: block;
        width: 100%;
    }



    table.scroll tbody {
        min-height: 100px;
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
    }*/

.help {
    font-size: smaller;
    color: dimgray;
    font-style: italic;
}

input[type="radio"].icheck:checked + label:after {
    font-family: 'FontAwesome';
    content: '';
}

.button-bar {
    margin-top: 8px;
    margin-bottom: 8px;
}

.table-info {
    margin-bottom: 5px;
}

    .table-info label {
        margin-bottom: 5px;
        font-weight: normal;
    }

    .table-info span {
        font-weight: bold;
        margin-bottom: 5px;
        margin-left: 5px;
        display: inline-block;
    }

/*editor*/
.editor-error {
    margin-bottom: 10px;
    display: block;
}

.bg-gray {
    background-color: #ecf0f1;
}

span .text-wrap {
    display: block;
    word-wrap: break-word;
}
