body {
    /*padding-top: 60px;*/
    /*padding-bottom: 20px;*/
    /*min-height: 1200px;*/
    /*font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;*/
    font-family: Open Sans,Arial,Helvetica,sans-serif, 13px;
}

.container {
    position: relative;
}

.content .main-body {
    display: flex;
}

.banner {
    width: 100%;
    /*display: inline-flex;*/
    /*background-color: #ffd800;*/
    height: 60px; /*bỏ logo menu- kích thước menu bé hơn*/
}

    .banner .touch-menu {
        background-color: transparent;
        margin: 40px 15px;
        color: #EC191D;
        height: 20px;
        margin-top: 20px; /*bỏ logo menu- căn giữa menu cấp 1*/
        cursor: pointer;
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }

    .banner .header-app {
        /*background: url(../../Content/Themes/images/nenbanner.png) no-repeat;*/ /*bỏ logo menu*/
        width: 600px;
        height: 60px; /*bỏ logo menu- kích thước menu bé hơn*/
        position: absolute;
        left: 30px;
        z-index: 10;
        margin-top: 16px; /*bỏ logo menu*/
        font-weight: bold; /*bỏ logo menu*/
        color: #EC191D; /*bỏ logo menu*/
    }

        .banner .header-app p {
            font-size: 22pt; /*bỏ logo menu*/
            text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        }

.menu-header {
    background-color: #BD2A38;
}

    .menu-header .navbar-brand {
        font-size: 13px;
    }

    .menu-header .nav {
        height: 50px;
    }

.menu-header {
    margin-bottom: 0px;
}

    .menu-header .menu-user-touch {
        opacity: 1;
        transform: scale(1);
        pointer-events: auto;
    }

.nav {
    border-radius: unset;
}

    .nav a {
        font-weight: bold;
    }

.menu-left .nav a {
    font-weight: initial;
}

.nav span {
    font-size: 1.15em;
}

/* .nav a:hover {
    color: #ffffff;
} */

.nav .nav-link:active {
    color: rgb(2, 125, 180);
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: inherit;
}
.menu-left .nav > li > a:hover, .menu-left .nav > li > a:focus {
    /* background-color: #0099FF; */
    /* color: #ffffff !important; */
}

.menu-left .menu-child-left .nav > li > a {
    padding: 6px 6px 6px 10px !important;
}

.menu-header .nav > li > a:hover,
.menu-header .nav > li > a:focus {
    background-color: #e43b4b !important;
}

li .nav-link {
    color: black;
}


.detail-placehold {
    width: 100%;
    float: left;
    padding: 5px;
    /*background-color: rgba(255, 250, 250, 1);*/
    /*min-height: calc(83vh);*/
    position: relative;
}
.min-height-1 {
    min-height: calc(83.6vh) !important;
}
.min-height-2 {
    min-height: calc(87.5vh) !important;
}


    .detail-placehold .btn-breadcrumb {
        margin-bottom: 10px;
    }

    .detail-placehold .btn-breadcrumb {
        margin-top: 0px;
    }

        .detail-placehold .btn-breadcrumb .btn.btn-default {
            border-color: #5bc0de87
        }

            .detail-placehold .btn-breadcrumb .btn.btn-default:not(:last-child):before {
                border-left: 10px solid #5bc0de87;
            }

    .detail-placehold .mGrid th {
        text-align: center;
    }
table.mGrid tr select {
    height: 30px;
}
table.mGrid tr select:focus-visible {
    outline: none;
}


.main-body {
    height: auto;
    padding: 0px;
}

    .main-body .card {
        background-color: white;
        border: 1px solid rgba(242, 242, 242, 1);
        margin: 0px 0px 20px;
        box-shadow: 0 0 5px -1px #ccc;
    }

    .main-body .form-control {
        border-radius: 0px;
        /*border-color: #708090;*/
    }

.clear {
    clear: both;
}

.main-body .header-card label {
    font-size: 15px;
    font-weight: bold;
}

.main-body .header-card i {
    float: right;
}

.main-body .label-item {
    font-weight: normal;
}
.main .card-body .label-sua {
    font-size: 13px;
}

/*.main-body .card .card-condition{
        display:block;
    }
*/

.main, .clearable {
    /*padding: 4px !important;*/
    transition: background .2s;
}

    .main .panel-list-item {
        border-top: none;
        margin: 0;
        padding: 0;
    }

.menu-head-bar {
    width: auto;
}

tbody i {
    margin: 3px;
}

.menu-left {
    width: 15%;
    /*border: 1px solid rgba(242, 242, 242, 1);*/
    float: left;
    /*min-height: calc(100vh);*/
}

.menu-left {
    margin: 0px;
    padding: 0px;
}

    .menu-left .nav .navbar-nav {
        width: 100%;
    }

    .menu-left .navbar-nav-child {
        /* margin: 0 5%; */
        line-height: 20px !important;
    }
    
    .menu-left .navbar-nav-child span {
        padding-left: 25px;
        /*float: left;*/
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .menu-left .nav-item {
        /* border-bottom: .1px solid #ccc; */
        width: 100%;
    }

        .menu-left .nav-item:last-child {
            border-bottom: none;
        }

    .menu-left .nav-link {
        margin: 0px
    }

    .menu-left .navbar-collapse {
        padding: 0px;
    }

    .menu-left .navbar-nav > li > .nav-link :not(.active) {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    /*.menu-left .nav > li > a:hover{
        background-color:initial;
        color:initial;
    }*/

    .menu-left i {
        width: 20px;
    }


    .menu-left .sidebar-header {
        text-align: center;
        cursor: pointer;
        padding-top: 10px;
        background: #fff;
        padding-bottom: 10px;
        /*  box-shadow: 0 0 5px -1px #ccc;*/
        font-size: 14px;
        text-transform: uppercase;
        color: #e43b4b;
    }

        .menu-left .sidebar-header:hover {
            /*background: #C8C8C8;*/
        }

    .menu-left .parent-menu-left {
        position: relative;
    }

        .menu-left .parent-menu-left:hover {
            /*background-color: #027db4;*/
            color: #0099FF;
        }

    .menu-left .dropdown-menu-hide {
        display: none;
        position: absolute;
    }

    .menu-left .parent-menu-left:hover > .dropdown-menu-hide:not(.active) {
        display: block;
        z-index: 5;
        visibility: visible;
        transform: translate3d(54px, -46px, 0px);
        width: 250px;
        border: .1px solid #ccc
    }

.dropdown-menu-hide li {
    background-color: white;
}


.menu-touch {
    position: absolute;
    /* padding: 15px 15px; */
    margin: 0px;
    left: 0px;
    top: 0px;
    width: 300px;
    z-index: 9999;
    background-color: white;
    height: 100%;
}

    .menu-touch .nav {
        width: 100%;
    }

        .menu-touch .nav .nav-item {
            width: 100%;
            border-bottom: 0.5px solid #c5c5c5;
        }

    .menu-touch .navbar-nav > li > a, .menu-left .navbar-nav > li > a {
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 13px;
    }

    .menu-touch .close-menu-touch {
        color: #027db4;
        float: right;
        padding: 6px 8px;
        display: block;
        cursor: pointer;
    }


#menu-head-bar {
    /* display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 99%; */
}

    #menu-head-bar a {
        font-size: 15px;
        font-weight: 700;
        color: white;
    }

    #menu-head-bar span {
        font-size: 15px;
        font-weight: 700;
    }

    #menu-head-bar .nav-link {
        white-space: nowrap;
    }

i span {
    margin-left: 4px;
}

.menu-icon-user {
    width: 30%;
    right: 0;
    position: absolute;
    height: 100%;
    text-align: center;
    padding: 7px;
}

    .menu-icon-user li {
        padding: 0px;
    }

.menu-user-touch ul li a{
    text-decoration:none;
}

    .menu-user-touch ul li a span:hover {
        color: white;
    }

.menu-user-touch ul li:hover {
    background-color: #337ab7;
    color: white;
}

.menu-user-touch{
    z-index:1;
    right:0;
    position:absolute;
}

.menu-user-touch

.menu-user-touch a {
    padding: 0px;
}

.menu-user-touch a {
    margin: 3px 20px;
    width: 100%;
}

.menu-user-touch .user-menu-item:hover {
    background-color: #337ab7;
    color: white;
}

#menu-user-touch {
    background-color: white;
    width: 200px;
    float: right;
    text-align: left;
}

/*==============Label====================*/
.require {
    color: red;
}

.tooltip-header-search label {
    margin-top: 10px;
}

.tooltip-header-search div:first-child label {
    color: #e85c5c;
}

.tooltip-header-search {
    width: 100%;
    display: inline-block;
}

.detail-item {
    font-size: 14px;
}

    .detail-item .control-label {
        font-weight: initial;
    }

.card-body.active {
    padding: 0px;
}

.card-header {
    background-color: #007ebb;
    color: white;
    flex: 1 1 auto;
    padding: 1.25rem;
    font-weight: 700;
    font-size: 18px;
}

.card-header hr {
    background-color: #007ebb;
}

.card hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.card-header .form-group {
    margin-bottom: initial;
}

.card-header {
    padding-bottom: 0px;
}

.card-area {
    margin-bottom: 15px;
    padding: 1.25rem
}
/*=============table=====================*/
table thead {
    font-weight: 700;
}

.pagination {
    display: flex;
    margin: 0 20px;
    border: 1px solid #027db4;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.paging {
    display: flex;
}

.paging-content {
    display: flex;
    margin-top: 8px;
}



/*===========button=====================*/
.btn {
    padding: 4px 7px;
}

    .btn i {
        margin: 0 4px 0 0;
    }

td button {
    background: initial;
    width: auto;
    height: auto;
    padding: 0px;
    border-color: initial;
    border-width: 0px;
    border-radius: 10%;
}

    td button i {
        padding: 5px;
    }

.btn-back {
    background-color: #00803C !important;
}

    .btn-back:hover {
        background-color: #00803C !important;
    }

.btn-info {
    background-color: #008040;
    color: white;
    border-color: #1f7e9a;
}

    /*.btn-info:hover {
        background-color: #008040 !important;
        color: #008040 !important;
    }*/

.btn-icon {
    width: initial;
    height: initial;
    /* color: initial; */
}

.btn-default {
    background-color: white;
    color: black;
}

.date > .btn-default i {
    color: black;
}

.btn-breadcrumb > .btn-default i {
    color: black;
}

.btn-default i {
    color: red;
}

.btn-default span {
    color: black;
}

.btn-default:hover {
    background-color: #eee;
}

.btn-detail, .btn-adjust {
    color: #008040;
}

    .btn-detail:hover, .btn-adjust:hover {
        background-color: #008040;
        color: white;
    }

.btn-edit, .btn-save {
    color: #2e6da4;
}

    .btn-edit:hover, .btn-save:hover {
        background-color: #2e6da4;
        color: white;
    }

.btn-add-child {
    color: #06A199;
}

    .btn-add-child:hover {
        background-color: #06A199;
        color: white;
    }

.btn-delete {
    color: #d9534f;
}

    .btn-delete:hover {
        background-color: #d9534f;
        color: white;
    }
.btn-file {
    color: #f0ad4e;
}

    .btn-file:hover {
        background-color: #f0ad4e;
        color: white;
    }
    

/*=========control===============*/
.input-group-addon {
    border-radius: 0;
  /*  border: 1px solid #708090 !important;*/
}

    .input-group-addon:hover {
        border-color: #55595c !important;
    }

/*============Table=================*/
.table-freeze-col {
    overflow-x: scroll;
    overflow-y: visible;
}

    .table-freeze-col table {
        position: relative;
    }

.col-pin {
    position: absolute;
    width: 5em;
    left: 0;
    top: auto;
    border-top-width: 1px;
    /*only relevant for first row*/
    margin-top: -1px;
    /*compensate for top border*/
}

.table-freeze-col td, th {
    margin: 0;
    /*white-space: nowrap;*/
}

.table-freeze-row {
    overflow-x: visible;
    overflow-y: scroll;
}

.table-child {
}

    .table-child > table {
        margin: 0px;
        padding: 0px;
        border: none;
    }

.table-parent .collapse.in {
    display: table-cell;
}

.table-parent .fa-caret-down:not(.collapsed) {
    transform: rotate(0deg);
    transition: transform 0.25s linear;
    color: black;
}

.table-parent .fa-caret-down.collapsed {
    transform: rotate(-90deg);
    transition: transform 0.25s linear;
    border: 1px;
}

/*=========== text-style==========*/
.text-bold {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}

.text-italic {
    font-style: italic;
}

/*============ iframe =================*/
.panel-list-item .card iframe {
    width: 100%;
    min-height: 516px;
}
/*=========scroll=======================*/
/* width */
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

.menu-header ::-webkit-scrollbar {
    height: 10px;
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: white;
}

.menu-header ::-webkit-scrollbar-track {
    background: rgba(129, 211, 248, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #889;
    border-radius: 2px;
}

.menu-header ::-webkit-scrollbar-thumb {
    background: rgba(129, 211, 248, 1);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}


/*giao dien*/
.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.card-search {
    flex: 1 1 auto;
    padding: 0.5rem;
}

.detail-placehold table thead th {
    background-color: #06A199;
    color: white;
    vertical-align: middle;
    text-align: center;
}

.detail-placehold ::-webkit-scrollbar {
    height: 10px;
    width: 5px;
}

[class^='select2'] {
    border-radius: 0px !important;
}

.select2-container .select2-selection--single {
    height: 30px !important;
}

.select2-selection__arrow {
    height: 30px !important;
}

/*7.2021*/
.menu-actived {
    background: #e43b4b !important;
    color: #ffffff !important;
}
.menu-header a:hover, .menu-header a:focus, .menu-header a:visited:hover, .menu-header a:visited:focus {
    color:  #ffffff !important;
}

.nav-item.parent-menu-left .bg-down-1 {
    height: 10px;
    width: 10px;
    background: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%2012%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cstyle%3E.cls-1%7Bfill%3A%239a9a9a%3B%7D%3C%2Fstyle%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Ctitle%3ECaret%3C%2Ftitle%3E%0A%20%20%20%20%3Cpath%20class%3D%22cls-1%22%20d%3D%22M6%2C9L1.2%2C4.2a0.68%2C0.68%2C0%2C0%2C1%2C1-1L6%2C7.08%2C9.84%2C3.24a0.68%2C0.68%2C0%2C1%2C1%2C1%2C1Z%22%2F%3E%0A%3C%2Fsvg%3E%0A) no-repeat 50% 50%;
    background-size: 10px;
    margin-left: 5px;
    display: inline-block;
    float: right;
    margin-top: 4px;
}
.bg-down-1 {
    display: none;
}
.form-control-custom {
    width: 100%;
    height: 26px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    outline: none;
}

.table .header-search th {
    background-color: white;
    color: black;
    font-weight: normal;
}
.form-control {
    height: 30px;
    padding: 2px 5px !important;
}

.btn-primary:focus, .btn-primary, focus, .btn-info:focus, .btn-info.focus, .btn-default:focus, .btn-default.focus, button {
    outline: none !important;
}
.btn-default:focus, .btn-default.focus, .input-group-addon:hover {
    border-color: #ccc !important;
}

.custom_css.box_tong {
    /*border: none !important;*/
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid rgba(242, 242, 242, 1);
    /*margin: 0px 0px 20px;*/
    box-shadow: 0 0 5px -1px #ccc;
    padding: 10px;
}

.custom_css .title_tong {
    border-bottom: none !important;
    background: #ffffff !important;
}

.custom_css .title_tong td:first-child span {
    color: #e85c5c;
    font-size: 14px !important;
    padding: 5px 0px;
}

.custom_css.box_tong button {
    padding: 2px 8px 2px 2px;
}
.mr-10 {
    margin-right: 10px;
}
.mt-10 {
    margin-top: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.color-active-menu {
    color: #EC191D !important;
}
.background-active-menu {
    background-color: #dbe2e6 !important;
    color: #111111 !important;
}
.card table tbody tr td {
    vertical-align: middle !important;
}
.menu-left, .dropdown-menu-hide ul li {
    background-color: #ffffff !important;
}
.menu-left li .nav-link {
    color: #333;
}
.menu-left .nav-item .nav-link:hover {
    color: #cd5c5c;
}
div.sheet {
    overflow: hidden;
}
.inline-flex {
    display: inline-flex;
}
.flex {
    display: flex;
}
.detail-panel {
    margin-bottom: 110px;
}

.tableFixHead {
    overflow: auto;
    max-height: 850px;
}
.tableFixHead table {
    /* border-collapse: inherit; */
}
.tableFixHead thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
.tableFixHead table thead th {
    border-width: thin !important;
}

.chao-banner {
    color: #EC191D;
    font-weight: bold;
}
.chao-banner1 {
    color: #1a84ac;
    font-weight: bold;
}
.menu-touch .a:hover, .menu-touch a:focus, .menu-touch a:visited:hover, .menu-touch a:visited:focus {
    color: #EC191D;
}
.color-text-red, .color-icon-delete {
    color: #e43b4b;
}
.color-icon-edit {
    color: #2e6da4;
}
.color-icon-sort {
    color: #008040;
}
.color-background-red {
    background: #e85c5c !important;
    border-top: none !important;
}
.btn-search-group {
    margin-top : 25px
}
.btn-breadcrumb a:last-child {
    color: #cd5c5c;
}
.home-menu {
    float: left;
    color: white;
    line-height: 50px;
    margin-right: 15px;
    cursor: pointer;
}
.css_a_menu_parent {
    margin: 15px;
    text-align: center;
    /*border: 1px solid gray;*/
    display: inline-grid;
    padding: 20px;
    width: 125px;
    height: 120px;
    border-radius: 8px;
}
.css_a_menu_parent:hover, .css_a_menu_parent:focus {
    text-decoration: none;
    background: #e0e7e8;
    color: #ec3237 !important;
}
.css_a_menu_parent span {
    font-size: 13px;
    font-weight: bold;
}
.header-create-update {
    padding: 6px 8px;
    background: #e43b4b;
    color: white;
}
.header-create-update span {
    font-size: 20px;
}
.modal-dialog.dialog-menu-css {
    width: -moz-max-content;  
    width: max-content;
    top: 90px;
}
.aToBtn > a {
    padding: 8px;
    text-decoration: none;
    color: white;
    background: #337ab7;
    border-radius: 4px;
}
.aToBtn > a:hover {
    color: white;
    background: #286090;
}


@media only screen and (max-width: 1280px) {
    .modal-dialog.dialog-menu-css {
        top: 90px;
    }

    .create_thdt label {
        font-size: 12px;
    }

    #menu-head-bar a {
        font-size: 13px !important;
    }

    .menu-header .nav > li > a {
        padding: 15px 7px !important;
    }

    .thu_gon_menu {
        font-size: 12px;
    }

    .nav span {
        font-size: 1.1em;
    }
}
#BangDuLieu_TB10 tbody tr, #BangDuLieu_TB11 tbody tr {
     /*height: 41px !important;*/ 
}
#BangDuLieu_TB10 tbody tr td span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 32px;
    line-height: 16px;
    display: block;
}
table tbody td:last-child button {
    font-size: 12px;
}
.sMap-cs {
    height: 32px;
    /*width: 120px;*/
    outline: none;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
}
td.table-cell.table-text.focus_edit input {
    height: 30px;
}
iframe.iframe-sheet {
    /* border: none !important; */
    border: 1px solid rgb(231, 228, 228) !important;
    padding: 1px;
}
iframe.iframe-sheet>html {
    overflow: hidden;
}
hr#hr-split {
    display: none;
}
.cs-input-ctktda {
    text-align: right !important;
    width: 100% !important;
    display: block !important;
    padding: 3px;
    border: 1px solid #ccc !important;
}
    .cs-input-ctktda:focus-visible {
        outline: none;
    }
.color-black {
    color: #111111 !important;
}
.width-50 {
    width: 50px;
}
.width-100 {
    width: 100px;
}
.width-150 {
    width: 150px;
}
.width-200 {
    width: 200px;
}
.min-width-50 {
    min-width: 50px;
}
.min-width-100 {
    min-width: 100px;
}
.min-width-150 {
    min-width: 150px;
}
.min-width-200 {
    min-width: 200px;
}
.min-width-250 {
    min-width: 250px;
}
.min-width-270 {
    min-width: 270px;
}
#tblHangMucChinh .parent {
    font-weight: bold;
}