@using Viettel.Models.QLNH
@model NH_DM_LoaiTienTeModel

<div class="modal-body">
    <div class="form-group">
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtMaDonViTienTe">Mã tiền tệ</label>
                <p>@Html.Raw(Html.Encode(Model.sMaTienTe))</p>
            </div>
            <div class="col-sm-6">
                <label for="txtTenDonViTienTe">Tên tiền tệ</label>
                <p>@Html.Raw(Html.Encode(Model.sTenTienTe))</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="txtDonViTHDACha">Mô tả</label>
                <p>@Html.Raw(!string.IsNullOrEmpty(Html.Encode(Model.sMoTaChiTiet)) ? Html.Encode(Model.sMoTaChiTiet).Replace("\n", "<br/>") : string.Empty)</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
    </div>
</div>
