﻿@model Viettel.Models.QLNH.DMDonViTienTeViewModel
@{
    ViewBag.Title = "Danh mục loại đơn vị tiền tệ";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body" id="lstDataView">
                @Html.Partial("_list", Model)
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalTienTe" role="dialog" aria-labelledby="modalTienTeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-bold text-left" id="modalTienTeLabel"></h3>
            </div>
            <div id="contentModalTienTe">

            </div>
        </div>
    </div>
</div>

@* Modal confirm *@
<div id="divModalConfirm">

</div>

@section Scripts{
    <script src="~/Scripts/QLNH/DanhMucLoaiDonViTienTe/jsDanhMucTienTe.js"></script>

    <script>
        var _paging = {};
        $(document).ready(function () {
            _paging.CurrentPage = @Model._paging.CurrentPage;
            _paging.ItemsPerPage = @Model._paging.ItemsPerPage;
        });
    </script>
}