@model Viettel.Models.QLVonDauTu.KeHoach5NamDeXuatViewModel
@{
    ViewBag.Title = "Danh sách kế hoạch trung hạn đề xuất";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

@*@if(ViewBag.TabIndex == 1)
{
    <style>
        .abcd1 {
            display: none;
        }
    </style>
}*@

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body" id="lstDataView">
                <input type="hidden" id="cTabIndex" value="@ViewBag.TabIndex">
                @Html.Partial("_list", Model)
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalKH5NamDeXuat" tabindex="-1" role="dialog" aria-labelledby="modalKH5NamDeXuatLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-bold text-left" id="modalKH5NamDeXuatLabel"></h3>
            </div>
            <div id="contentModalKH5NamDeXuat">

            </div>
        </div>
    </div>
</div>

@* Modal confirm *@
<div id="divModalConfirm">

</div>

@section Scripts{
    @*@Html.Partial("_SheetScript")*@
    <script src="~/Scripts/QLVonDauTu/NganSachQuocPhong/jsKeHoach5NamDeXuat.js"></script>

    <script>
        var _paging = {};
        $(document).ready(function () {
            _paging.CurrentPage = @Model._paging.CurrentPage ;
            _paging.ItemsPerPage = @Model._paging.ItemsPerPage ;
        });
    </script>
}

