@model VIETTEL.Areas.QLNguonNganSach.Models.NNSDuToanChiTietViewModel
@{
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

<h3 style="float:left">@ViewBag.Title</h3>
<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body">
                @Html.Partial("_sheetNhiemVu")
            </div>
        </div>
    </div>
</div>



