<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net452" />
  <package id="AutoMapper" version="6.2.2" targetFramework="net452" />
  <package id="AutoMapper.Attributes" version="6.0.1" targetFramework="net452" />
  <package id="ClosedXML" version="0.95.4" targetFramework="net452" />
  <package id="Dapper" version="1.50.4" targetFramework="net452" />
  <package id="DapperExtensions" version="1.6.3" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net452" />
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="EPPlus" version="5.6.4" targetFramework="net452" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net452" />
  <package id="FreeSpire.XLS" version="10.10.0" targetFramework="net452" />
  <package id="jQuery" version="1.4.4" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.HelpPage" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net452" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net452" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="2.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Excel" version="12.0.4518.1014" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="NUnit" version="3.10.1" targetFramework="net452" />
  <package id="SquishIt" version="1.0.0" targetFramework="net452" />
  <package id="SquishIt.AspNet" version="1.0.0" targetFramework="net452" />
  <package id="SquishIt.Framework" version="1.0.0" targetFramework="net452" />
  <package id="SquishIt.Mvc" version="1.0.0" targetFramework="net452" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net452" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net452" />
  <package id="WebActivatorEx" version="2.1.0" targetFramework="net452" />
  <package id="WebIcons" version="1.0.1.0" targetFramework="net452" />
  <package id="YUICompressor.NET" version="2.3.0.0" targetFramework="net452" />
</packages>