@using Viettel.Models.QLVonDauTu
@model VDTPheDuyetDuAnViewModel
@{
    ViewBag.Title = "Danh sách thông tin phê duyệt dự án";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">

@section Scripts{
    <script src="~/Scripts/QLVonDauTu/ThongTinDuAn/jsVDT_DanhSachPheDuyetDuAn.js"></script>
    <script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>
    <script>
        var _paging = {};

        var sUrlListView = "";
        $(document).ready(function () {
            sUrlListView = '@Url.Action("TimKiem", "QLPheDuyetDuAn")';
            _paging.CurrentPage = @Model._paging.CurrentPage ;
            _paging.ItemsPerPage = @Model._paging.ItemsPerPage ;
        });
    </script>
}

@* Modal confirm *@
<div id="divModalConfirm">

</div>
<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body" id="lstDataView">
                @Html.Partial("_list", Model)
            </div>
        </div>
    </div>
</div>
<div id="divModalConfirm"></div>

