
@{
}

<!-- Modal -->
<div id="modal_Options" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tuỳ chỉnh</h4>
            </div>
            <form>

                <div class="modal-body">

                    <p>Lựa chọn tuỳ chỉnh hiển thị bảng.</p>

                    <div class="form-group">
                        @*<label for="email">Email address:</label>*@
                        @*<input type="email" class="form-control" id="email">*@
                        @Html.DropDownList("Loai", (IEnumerable<SelectListItem>)ViewBag.QuyetToanList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-mvc btn-mvc-green">@L("Buttons.OK")</button>
                    <button type="button" class="btn btn-mvc" data-dismiss="modal">@L("Buttons.Close")</button>
                </div>
            </form>

        </div>

    </div>
</div>