@using Viettel.Models.QLVonDauTu
@model VDTKHLuaChonNhaThauPagingModel
@{
    ViewBag.Title = "Kế hoạch lựa chọn nhà thầu";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<link href="~/Content/plugins/dropdowntree.css" rel="stylesheet" />
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body tab-content" id="lstDataView">
                <div id="" class="tab-pane fade in active">
                    @Html.Partial("_list", Model)
                </div>

            </div>
        </div>
    </div>
</div>

@* Modal confirm *@
<div id="divModalConfirm">

</div>

@section Scripts{
    <script src="~/Scripts/QLVonDauTu/ThongTinDuAn/KHLCNhaThau/jsVDT_DanhSach_KHLuaChonNhaThau.js" type="text/javascript"></script>
    <script>
        var _paging = {};

        var sUrlListView = "";
        $(document).ready(function () {
            _paging.CurrentPage = @Model._paging.CurrentPage ;
            _paging.ItemsPerPage = @Model._paging.ItemsPerPage ;
        });
    </script>
}


