.table-header1{
    height: 90px;
    border: solid 1px #c1c1c1;
    background-color: #06A199;
    color: whitesmoke;
}

.table-header2 {
    border: solid 1px #c1c1c1;
    border-left: 0px;
    background-color: #06A199;
    color: whitesmoke;
    width: initial;
    table-layout: fixed;
}