@model SKTChuyenViewModel
@{
    ViewBag.Title = "Khóa số liệu chứng từ";
}
@section Styles{
}
@using (Html.BeginForm("ChuyenT", "ChungTu", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="container">
        <div class="row">
            <div class="form-group">
                <div class="col-sm-4">
                    <label class="control-label-r">Khóa hay mở:</label>
                    @Html.DropDownList("id_donvi", Model.DonViList, new { @class = "form-control" })
                </div>                
            </div>
        </div>                 
    </div>

}
@section Scripts{
}
