@{
    Layout = "~/Views/Shared/sheet/_LayoutSheet.cshtml";
    ViewBag.Title = "Cấu hình bộ mục lục đặc thù năm " + (PhienLamViec.NamLamViec - 1);
}
<h2 style="display:contents">@ViewBag.Title</h2>
@Html.Partial("_sheet")