<div class="tooltip-header-search">
    <div>
        <label class="control-label">Danh sách loại công trình (@ViewBag.iTotalItem)</label>
        <button class="btn btn-primary pull-right" style="margin-left:10px;" onclick="OpenModal()" data-toggle="modal" data-target="#modalDanhMucLoaiCongTrinh"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
        <button class="btn btn-back pull-right" onclick="GetListData()"><i class="fa fa-refresh" aria-hidden="true"></i>Làm mới</button>

    </div>
</div>
@*<div class="tooltip-header-search">
    <div class="col-sm-12" style="display: flex; padding-left: 0px;">
        <input type="text" class="form-control clearable" placeholder="Mã loại công trình" id="txtMaLoai" autocomplete="off" />
        <input type="text" class="form-control clearable" placeholder="Tên viết tắt" id="txtTenVietTat" autocomplete="off" />

        <input type="text" class="form-control clearable" placeholder="Tên loại công trình" id="txtTenLoaiCongTrinh" autocomplete="off" />
        <input type="text" class="form-control clearable" placeholder="Mô tả" id="txtMoTa" autocomplete="off" />
        <input type="text" class="form-control clearable" placeholder="Thứ tự" id="txtThuTu" autocomplete="off" />
        <button class="btn btn-info" onclick="GetListData_By_Name()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
    </div>
</div>*@

<div id="ViewTable">

</div>
