
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.panel-item-update {
    width: 100%;
    border-top: 0.25px solid lightgray;
    margin: 5px 0;
    padding: 5px 0;
}

.panel-list-item {
    width: 100%;
    border-top: 0.25px solid lightgray;
    margin: 5px 0;
    padding: 5px 0;
}

.panel-search-bar {
    margin: 5px 0;
    padding: 5px 0;
}

.panel-topic {
    margin: 5px 0;
    font-weight: bold;
}

table th {
    font-weight: unset;
    text-align: center;
    background-color: lightgray;
}

.main .btn:not(.btn-icon) {
/*    font-family: 'Times New Roman', Times, serif;
    margin: 5px 0;*/
    width: 100px !important;
    height: 30px !important;
    line-height: 19px !important;
    color: white !important;
}

.main .card {
    min-height: inherit;
}

.main .row .btn-icon {
    margin: 0;
    width: 40px;
    height: 33px;
}

.main .row td {
    vertical-align: middle;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}


.list-group {
    position: absolute;
    right: 0px;
    width: 350px;
    height: 200px;
    z-index: 9;
    display:none;
}

.list-group a:is(:hover)
{
    font-weight:bold;
    background-color:lightgray
}

/* #region START - Clone from Bootstrap v5.2.0 */

.d-flex {
    display: flex !important;
}

.justify-content-start {
    justify-content: flex-start !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.justify-content-evenly {
    justify-content: space-evenly !important;
}

.m-auto {
    margin: auto !important;
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}

.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

.w-auto {
    width: auto !important;
}

.disabled {
    pointer-events: none;
    opacity: 0.65;
}

.fw-light {
    font-weight: 300 !important;
}

.fw-lighter {
    font-weight: lighter !important;
}

.fw-normal {
    font-weight: 400 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

.fw-bolder {
    font-weight: bolder !important;
}

/* #endregion */

/* Fix size select2 in input-group */
.input-group .select2-container {
    display: table;
    table-layout: fixed;
}