

@section TitleContent {


}

@{
    String path = Convert.ToString(ViewData["path"]);
}
<div id="main">
    <div id="left">
        <div class="content" style="margin-bottom:20px;">

            @Html.Partial(path)
        </div>
    </div>
</div>



