@using Viettel.Models.QLNH

<div class="modal-body">
    <h6 class="chao-banner1 text-italic text-underline lblBieuMauImport mb-10" onclick="DownloadFileTemplate();">Tải xuống biểu mẫu import</h6>
    <div class="form-group row">
        <div class="col-sm-12">
            <label id="lblUpload" for="inpFileUpload"><span class="ml-10">Lựa chọn file excel</span><i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i></label>
            <input type="file" id="inpFileUpload" name="inpFileUpload" class="hide" accept=".xlsx, .xls" onchange="ChangeFile(this);" />
        </div>
    </div>
    <div class="form-group pull-right mr-10">
        <button class="btn btn-primary mr-10" onclick="LoadDataExcel();">Kiểm tra</button>
        <button class="btn btn-default" onclick="RefreshImport();">Hủy</button>
    </div>
    <div class="form-group row mx-0">
        <div class="col-sm-12 divContainer">
            <div style="width:4440px;height:300px;">
                <table class="table table-bordered" id="tblNhaThauListImport">
                    <thead>
                        <tr>
                            <th width="100">Trạng thái</th>
                            <th width="80">STT</th>
                            <th width="260">Loại</th>
                            <th width="260">Mã nhà nhầu/Đơn vị ủy thác</th>
                            <th width="260">Tên nhầu/Đơn vị ủy thác</th>
                            <th width="260">Địa chỉ</th>
                            <th width="260">Đại diện</th>
                            <th width="260">Chức vụ</th>
                            <th width="260">Số điện thoại</th>
                            <th width="260">Số Fax</th>
                            <th width="260">Email</th>
                            <th width="260">Website</th>
                            <th width="250">Số tài khoản</th>
                            <th width="250">Ngân hàng</th>
                            <th width="250">Mã ngân hàng</th>
                            <th width="250">Người liên hệ</th>
                            <th width="250">Số điện thoại người liên hệ</th>
                            <th width="260">Số CMND</th>
                            <th width="260">Nơi cấp CMND</th>
                            <th width="260">Ngày cấp CMND</th>
                            <th width="280">Lỗi</th>
                            <th width="120">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Đóng</span></button>
        <button class="btn btn-primary" id="btnSaveImport" onclick="SaveImport();"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
    </div>
</div>
<style>
    #modalNhaThau .lblBieuMauImport {
        cursor: pointer;
    }
    #tblNhaThauListImport {
        table-layout: fixed;
    }
    #modalNhaThau #lblUpload {
        cursor: pointer;
        height: 40px;
        border: 1px solid #CCC;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
    }

        #modalNhaThau #lblUpload i {
            position: absolute;
            right: 5px;
        }

    #modalNhaThau .mx-0 {
        margin-right: 0;
        margin-left: 0;
    }

    #modalNhaThau .divContainer {
        overflow: auto;
        position: relative;
        padding: 0;
    }

    #modalNhaThau ::-webkit-scrollbar {
        height: 5px !important;
    }
</style>
