
<div class="tooltip-header-search">
    <label class="control-label">Danh sách loại công trình (@ViewBag.iTotalItem)</label>
    <button class="btn btn-primary pull-right" style="margin-left:10px;" onclick="BtnInsertDataClick()"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
    <button class="btn btn-back pull-right" onclick="GetListData()"><i class="fa fa-refresh" aria-hidden="true"></i>Tải lại</button>
</div>

<div id="ViewTable">

</div>
