

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}


<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body" id="lstDataView">
                @Html.Partial("_list")
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @Html.Partial("_SheetScript")
    <script src="~/Scripts/QLVonDauTu/DanhMuc/jsVDTDMLoaiCongTrinh.js"></script>
}