@{
    Layout = "~/Views/Shared/sheet/_LayoutSheet.cshtml";
    ViewBag.Title = "Mapping mục lục dự toán kiểm tra năm " + PhienLamViec.iNamLamViec;
}
<h2 style="display:contents">@ViewBag.Title</h2>
@Html.Partial("_sheet")