@using Viettel.Models.QLVonDauTu
@model VDTKeHoachVonNamDuocDuyetExport
@{
    ViewBag.Title = "In báo cáo";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<link href="~/Content/plugins/dropdowntree.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="header-create-update">
                    <span>
                        @Html.Raw(ViewBag.Title)
                    </span>
                    <input type="hidden" value="@ViewBag.isStatus" id="txtStatusReport" />
                </div>
                <ul class="nav nav-tabs" style="margin-top: 10px;">
                    <li class="active"><a data-toggle="tab" href="#bcTheoDonVi">Báo cáo theo đơn vị</a></li>
                    <li><a data-toggle="tab" href="#bcTongHop">Báo cáo tổng hợp</a></li>
                </ul>
            </div>

            <div class="card-body tab-content" style="padding-top: 0px !important;">
                <div id="bcTheoDonVi" class="tab-pane fade in active">
                    @Html.Partial("_partialPrintBCDV", Model)
                </div>
                <div id="bcTongHop" class="tab-pane fade in ">
                    @Html.Partial("_partialPrintBCTH", Model)
                </div>
            </div>
        </div>
    </div>
    <div class="form-group text-center tooltip-header-search">
        <button class="btn btn-back" title="Quay lại" onclick="BackIndex()"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Quay lại</span></button>
        <button class="btn btn-warning" title="In báo cáo" type="button" onclick="PrintBaoCao(true)"><i class="fa fa-file-pdf-o" aria-hidden="true"></i><span>In báo cáo</span></button>
        <button class="btn btn-info" title="Xuất dữ liệu ra excel" type="button" onclick="PrintBaoCao(false)"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Xuất excel</button>
    </div>
</div>
@* Modal confirm *@
<div id="divModalConfirm">

</div>
@section Scripts{
    <script src="~/Scripts/QLVonDauTu/NganSachQuocPhong/jsKeHoachVonNamDuocDuyet.js"></script>
    <script type="text/javascript">
        $('#select-all-donviquanly').click(function (event) {
            if (this.checked) {
                $(':checkbox').each(function () {
                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function () {
                    this.checked = false;
                });
            }
        }); 

        $("#ValueItemLoaiChungTu").on("change", function () {
            if ($("#ValueItemLoaiChungTu").val() == "2") {
                document.getElementById("divMaNguonNganSach").style.display = "none";
                document.getElementById("divLoaiCongTrinh").style.display = "none";
            }
            else {
                document.getElementById("divMaNguonNganSach").style.display = "";
                document.getElementById("divLoaiCongTrinh").style.display = "";
            }
        });
    </script>
}