@using Viettel.Models.QLNH
@model DanhmucNgoaiHoi_LoaiHopDongModel
<div style="text-align:center">
    <h5> Bạn có chắc chắn muốn xóa loại hợp đồng: @Html.Raw(Html.Encode(Model.sMaLoaiHopDong))-@Html.Raw(Html.Encode(Model.sTenLoaiHopDong))?</h5>
</div>
<div class="modal-footer" style="text-align:center">
    <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Hủy</span></button>
    <button class="btn btn-primary" data-dismiss="modal" onclick="DeleteLoaiHopDong('@Model.ID')"><i class="fa fa-check" aria-hidden="true"></i><span>Xác nhận</span></button>
</div>


