
@model VIETTEL.Areas.QLNguonNganSach.Models.QLDotnhanViewModel
@{
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";

    ViewBag.Title = "Quản lý đợt nhận";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}
<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body">
                @Html.Partial("_sheet")
            </div>
        </div>
    </div>
</div>

