
@{
    ViewBag.Title = "rptTongHopNguonBTC";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

<h2>rptTongHopNguonBTC</h2>

<div class="label-title">
    <span>Danh sách chi tiết báo cáo</span> <span>(0)</span>
    <div class="col no-padding-left pull-right">
        <button class="btn btn-info btn-fw">
            <span class="glyphicon glyphicon-export"></span> <span>Xuất Excel</span>
        </button>
    </div>
</div>

