@{
    Layout = "~/Views/Shared/sheet/_LayoutSheet.cshtml";
    ViewBag.Title = "Mapping mục lục dự toán kiểm tra năm " + PhienLamViec.iNamLamViec;
}
<br />
<h2 style="display: contents; color: #e85c5c">@ViewBag.Title</h2>
<br /><br />
@Html.Partial("_sheet")