@{
    Layout = "~/Views/Shared/sheet/_LayoutSheet.cshtml";
    ViewBag.Title = "Cấu hình bộ mục lục ngân sách theo năm làm việc!";
}
<h2 style="display:contents">@ViewBag.Title</h2>
@Html.Partial("_sheet")