@{
    ViewBag.Title = "Báo cáo dự toán NSQP theo năm";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <h4 class="color-text-red">Báo cáo dự toán NSQP theo năm</h4>
                    <div style="float: right; margin-top: -37px">
                        <button class="btn btn-primary" onclick="location.href='@Url.Action("XuatFile", "BaoCaoDuToanNSQPNam")'"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Excel</button>
                        <button class="btn btn-info" onclick="Loc()"><i class="fa fa-search" aria-hidden="true"></i>Lọc</button>
                    </div>
                    <hr class='color-background-red' />
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="txtDonViQuanLy">Đơn vị quản lý</label>
                            @Helpers.Required()
                            @Html.DropDownList("iID_DonViQuanLyID", (SelectList)(ViewBag.ListDonViQuanLy), new { @class = "form-control requireInput", @id = "iID_DonViQuanLyID" })
                        </div>
                        <div class="col-sm-3">
                            <label for="iNamKeHoach">Năm thực hiện</label>
                            @Helpers.Required()
                            <input type="text" id="iNamKeHoach" class="form-control" name="iNamKeHoach" value="" maxlength="4" autocomplete="off" />
                        </div>
                    </div>
                </div>

                <div class="row" id="divTab">
                    <div class="col-sm-10">
                        <div id="tbl_data"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/QLVonDauTu/ThongTinDuAn/jsVDT_BaoCaoDuToanNSQLNam.js" type="text/javascript"></script>
<script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>