@{
    Layout = "~/Views/Shared/sheet/_LayoutSheet.cshtml";
    ViewBag.Title = "Chi tiết số đặc thù dự toán kiểm tra theo mục - tiểu mục năm " + PhienLamViec.iNamLamViec;
}
<h2>@ViewBag.Title</h2>
@Html.Partial("_sheet")