@using Viettel.Models.QLVonDauTu
@model List<VDTBaoCaoDieuChinhKeHoachViewModel>

@{
//int iTotalCol = ViewBag.iTotalCol;
//string sMaPhongBan = string.Empty;

    <div class="tooltip-header-search">
        <div class="col-sm-8" style="display:flex;padding-left:0px;">
            <label class="control-label">Báo cáo điều chỉnh kế hoạch</label>
        </div>
    </div>
    <div class="tableFixHead">
        <table class="table table-bordered">
            <thead style="height:150px;">
                <tr class="text-center" style="background-color: #06A199">
                    <th style="min-width:410px" rowspan="2" class="">Mục</th>
                    <th width="200px" rowspan="2">Đơn vị - Danh mục, Công trình</th>
                    <th width="150px" rowspan="2">Số công văn</th>
                    <th width="150px" rowspan="2">Ngày tháng năm</th>
                    <th width="150px" rowspan="2">Chỉ tiêu ngân sách đầu năm</th>
                    <th width="300px" colspan="2">Đơn đề nghị điều chỉnh</th>
                    <th width="250px" rowspan="2">Kế hoạch điều chỉnh chỉ tiêu ngân sách năm</th>
                </tr>
                <tr class="text-center" style="background-color: #06A199">
                    <th style="min-width:100px" width="150px">Giảm</th>
                    <th style="min-width:100px" width="150px">Tăng</th>
                </tr>
                <tr class="text-center" style="background-color: #06A199">
                    <th style="min-width:100px" width="150px">(1)</th>
                    <th style="min-width:100px" width="150px">(2)</th>
                    <th style="min-width:100px" width="150px">(3)</th>
                    <th style="min-width:100px" width="150px">(4)</th>
                    <th style="min-width:100px" width="150px">(5)</th>
                    <th style="min-width:100px" width="150px">(6)</th>
                    <th style="min-width:100px" width="150px">(7)</th>
                    <th style="min-width:100px" width="150px">(8) = (5) - (6) + (7)</th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    @foreach (var item in Model)
                    {
                        @*<th class="col-@item.sMaNoiDungchi text-right">@item.sFTongTien</th>*@
                    }
                </tr>
            </tbody>
        </table>
    </div>
}