@{
    ViewBag.Title = "Báo cáo điều chỉnh kế hoạch ";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="card">
    <div class="card-search">
        <div class="form-group header-card">
            <label class="label-title-card color-text-red">Thông tin tìm kiếm</label>
            <i class="fa fa-chevron-down fa-1x close-card-condition" aria-hidden="true" data-toggle="collapse" data-target="#card-condition" aria-expanded="true" aria-controls="card-condition"></i>
            <hr />
        </div>
        <div class="card-condition collapse in" id="card-condition">
            <div class="form-group">
                <div class="row" style="margin: 0px">
                    <div class="col-sm-3">
                        <label for="txtNguonVon">Nguồn vốn</label>
                        @Html.DropDownList("iID_NguonVon", (SelectList)(ViewBag.ListNguonVon), "--Chọn--", new { @class = "form-control", @id = "iID_NguonVon" })
                    </div>
                    <div class="col-sm-3">
                        <label for="txtLoaiNguonVon">Loại Nguồn vốn</label>
                        @Html.DropDownList("sLNS_LoaiNguonVon", (SelectList)(ViewBag.ListLoaiNguonVon), "--Chọn--", new { @class = "form-control", @id = "sLNS_LoaiNguonVon" })
                    </div>
                    <div class="col-sm-3">
                        <label for="txtNamThucHien">Năm thực hiện</label>
                        <input type='text' maxlength="4" class="form-control clearable" id="txtNamThucHien" />
                    </div>
                    <div class="col-sm-3 btn-search-group">
                        <button class="btn btn-info" id="btnGetBaoCao" onclick="GetBaoCao()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
                        <button class="btn btn-primary" onclick="location.href='@Url.Action("PrintBCTongHopNguonBTC", "BaoCaoNguonNS", new { iTypeFile = 1})'"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Excel</button>
                        @*<button class="btn btn-warning" onclick="location.href='@Url.Action("PrintBCTongHopNguonBTC", "BaoCaoNguonNS", new { iTypeFile = 2})'"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>PDF</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card hidden" id="contentReport">
    <div class="card-body" style="overflow:auto" id="showData">

    </div>
</div>

<script src="~/Scripts/QLVonDauTu/BaoCao/jsBaoCaoDieuChinhKeHoachNam.js"></script>
