﻿@model Viettel.Models.QLNH.QuyetToan.NH_QT_QuyetToanNienDo_ChiTietView
@{
    ViewBag.Title = "Chi tiết quyết toán niên độ";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
    <style>
        .m-w100{
            min-width:100px;
        }
         .f-wBold{
             font-weight:bold;
         }

    </style>
}
<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body" id="lstDataView">
                @Html.Partial("_listQTDetail", Model)
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/QLNH/QuyetToan/jsUpdateChiTietQuyetToan.js"></script>
}

