<!-- Modal content-->
<div class="modal-content">
    <div class="modal-body">
        @*Phân theo hạng mục chính*@
        <div class="form-group">
            <h4 class="color-text-red">Danh sách hạng mục theo chi phí:</h4>
            <div class="input-group">
                <span id="txtTenChiPhi"></span><span> : </span><span id="spGiaTriChiPhi"></span>
            </div>
            <hr class='color-background-red' />
            <input type="hidden" id="txtIdHangMuc" class="form-control" value="" />
            <input type="hidden" id="txtGiaTriChiPhi" class="form-control" value="" />
            <input type="hidden" id="txtIdChiPhiHangMuc" class="form-control" value="" />

            <br />
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="tblHangMucChinh">
                        <thead>
                            <tr>
                                <th width="5%">STT</th>
                                <th width="25%">Tên hạng mục</th>
                                <th width="20%">Loại công trình</th>
                                @if (ViewBag.bIsDieuChinh)
                                {
                                    <th width="20%">Giá trị phê duyệt QĐĐT</th>
                                    <th width="20%">Giá trị phê duyệt TKTC</th>
                                }
                                else
                                {
                                    <th width="20%">Giá trị trước điều chỉnh</th>
                                    <th width="20%">Giá trị sau điều chỉnh</th>
                                }
                                <th width="10%"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th colspan="2">Còn lại</th>
                                <th class="cpdt_tong_giatripheduyet text-right" id="conlaihangmucpheduyet"></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" id="btnSaveHangMuc" onclick="SavehangMuc()"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
        <button type="button" class="btn btn-default" onclick="HideModalChiTietChiPhi()">Đóng</button>
    </div>
</div>