@using Viettel.Models.QLVonDauTu
@model VDTQLKhoiTaoDuAnPagingModel

@{
    ViewBag.Title = "Danh sách khởi tạo thông tin dự án chuyển tiếp";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body" id="lstDataView" style="padding: 10px">
                @Html.Partial("_list", Model)
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Html.Partial("_SheetScript")
    <script src="~/Scripts/QLVonDauTu/KhoiTao/jsVDT_DanhSach_KhoiTaoThongTinDuAnChuyenTiep.js"></script>
    <script>
        var _paging = {};

        var sUrlListView = "";
        $(document).ready(function () {
            _paging.CurrentPage = @Model._paging.CurrentPage ;
            _paging.ItemsPerPage = @Model._paging.ItemsPerPage ;
        });
    </script>
}

