@model VIETTEL.Areas.QuyetToan.Models.ChungTuListViewModel
@{
    ViewBag.Title = "Chứng từ quyết toán";
}
<h2 class="text-danger"><i class="fa fa-book"></i>  @ViewBag.Title</h2>
@Html.Partial("_list", Model)
