<?xml version="1.0"?>
<appSettings>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="WebServerRootPath" value="c:\\inetpub\wwwroot\"/>
  <!--<add key="SSODomain" value="http://192.104.78.11:1114/SSOService.svc"/>-->
  <add key="SSODomain" value="http://localhost:8888/SSOService.svc"/>
  <add key="SSOTimeout" value="2000"/>

  <add key="TenTongCongTyApDung" value="Cục tài chính bộ quốc phòng"/>
  <add key="TitleView" value="Cổng thông tin điện tử - Cục tài chính - Bộ Quốc Phòng"/>
  <add key="ApplicationStatus" value="Demo"/>
  <add key="Mailserver" value="smtp.gmail.com"/>
  <add key="MailFrom" value="phongtn2010@gmail.com"/>
  <add key="Pass" value="no90@thing"/>
  <add key="RenderMode" value="MEMORYSTREAM"/>
  <add key="ChuaDuyet" value="#f8e6d1"/>
  <add key="TuChoi" value="#FF0000"/>
  <add key="DongY" value="#3399FF"/>
  <add key="Background" value="#FFBF00"/>
  <add key="MauChuTinhTong" value="#FF0000"/>
  <add key="MaPhanHe" value="7"/>
  <add key="ChartImageHandler" value="privateImages=false;storage=file;timeout=20;deleteAfterServicing=false;url=/Libraries/WebCharts/;WebDevServerUseConfigSettings=true;"/>
  <add key="RootPath" value="C:\\inetpub\\wwwroot\\wss"/>
  <add key="FilePath" value="C:\\inetpub\\wwwroot\\wss"/>
  <add key="VideoPath" value="C:\\inetpub\\wwwroot\\wss"/>
  <add key="ImagePath" value="C:\\inetpub\\wwwroot\\wss"/>


  <!-- Cac lns se phan cap -->
  <add key="ns_lns_phancap" value="1040100,109,2,207,209,4050000,4450000,4080300,107,4"/>


</appSettings>
