<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    <input type="text" class="form-control date" value="@DateTime.Now.ToShortDateString()" id="date" name="date" placeholder="dd/mm/yyyy">
</div>