
<div class="form-group">
    <label class="control-label col-sm-4">Đơn vị tính:</label>
    <div class="col-sm-8">
        <select id="dvt" name="dvt" class="form-control">
            <option value="1">Đồng</option>
            <option value="1000" selected>Nghìn đồng</option>
            <option value="1000000">Triệu đồng</option>
        </select>
    </div>
</div>
