@model VIETTEL.Areas.DanhMuc.Models.MappingNdcMlncViewModel
@{
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
    ViewBag.Title = "Mapping nội dung chi mục lục nhu cầu năm " + PhienLamViec.iNamLamViec;
    //Layout = "~/Views/Shared/sheet/_LayoutSheet.cshtml";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="tooltip-header-search">
                    <div class="col-sm-8" style="display:flex;padding-left:0px;">
                        <label class="control-label">@ViewBag.Title</label>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-info pull-right" style="margin-left: 20px; " onclick="$('iframe#sheet').contents().find('#btn-search').click()">@L("Buttons.Search")</button>
                        <p class="pull-right" style="margin-top: 10px; font-size:14px" id="">&nbsp;&nbsp;Xóa tìm kiếm</p>
                        <label class="control-label pull-right" style="padding-left:20px;">F9: </label>
                        <p class="pull-right" style="margin-top: 10px; font-size:14px" id="">&nbsp;&nbsp;Tìm kiếm</p>
                        <label class="control-label pull-right" style="padding-left:20px;">Enter: </label>
                    </div>
                </div>
                @Html.Partial("_sheet", Model)
            </div>
        </div>
    </div>
</div>
