@{
    ViewBag.Title = "Cấu hình in báo cáo";
}
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">@ViewBag.Title</span>
    </div>
    <div class="panel-body">
        <div class="">
            <div class="row" id="rowChonTo" style="display: none">
                <div class="col-xs-2"></div>
                <div class="col-xs-3">
                    <h6><strong class="text-uppercase">Chọn tờ</strong></h6>
                </div>
                <div class="col-xs-5">
                    <div id="To" class="ls-box" data-check="first">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <form action="" class="form-horizontal">
                        @*<div class="form-group">
                        <label class="control-label col-sm-4">Dãn dòng:</label>
                        <div class="col-sm-8">
                            @Html.Partial("_ui_rowheight")
                        </div>
                    </div>*@
                        @*@Html.Partial("_ui_dvt")*@
                    </form>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <span class="text-muted">|</span>
                <a class="btn-mvc" id="btnChuKy"><i class="fa fa-file-excel"></i>Sửa chữ ký</a>
                <a class="btn-mvc" id="btn-cancel" data-dismiss="modal">Hủy</a>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ui_chuky")
<script type="text/javascript">
    //$(".btn-print").click(function () {
    //    var links = [];
    //    var ext = $(this).data("ext");
    //    var dvt = $("#dvt").val();
    //    var url = $("#urlExport").val() +
    //            "?ext=" + ext +
    //            "&dvt=" + dvt;

    //    url = unescape(url);
    //    links.push(url);

    //    openLinks(links);
    //});
</script>
