@{
    ViewBag.Title = "TỔNG HỢP DỰ TOÁN NGÂN SÁCH NĂM";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="card">
    <div class="card-search">
        <div class="form-group header-card">
            <label class="label-title-card color-text-red">Tiêu chí tìm kiếm</label>
            <i class="fa fa-chevron-down fa-1x close-card-condition" aria-hidden="true" data-toggle="collapse" data-target="#card-condition" aria-expanded="true" aria-controls="card-condition"></i>
            <hr />
        </div>
        <div class="card-condition collapse in" id="card-condition">
            <div class="form-group">
                <div class="row" style="margin: 0px">
                    <div class="col-sm-3">
                        <label for="txtLoaiDuToan">Danh mục nguồn</label>
                        @Html.DropDownList("iID_Nguon", (SelectList)(ViewBag.ListDanhMucNguon), new { @class = "form-control", @id = "iID_Nguon" })
                    </div>
                    <div class="col-sm-3">
                        <label for="txtsSoQuyetDinh">Số quyết định</label>
                        <input type="text" class="form-control" id="txtsSoQuyetDinh" autocomplete="off" />
                    </div>
                    <div class="col-sm-4">
                        <label for="txtNgayBaoCao">Ngày báo cáo</label>
                        <div style="display:flex">
                            <div class='input-group date col-sm-6'>
                                <input type='text' class="form-control" id="txtTuNgay" autocomplete="off" placeholder="dd/MM/yyyy" />
                                <span class="btn-default input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                            <span style="margin: 8px 5px 0px 5px;">-</span>
                            <div class='input-group date col-sm-6'>
                                <input type='text' class="form-control" id="txtDenNgay" autocomplete="off" placeholder="dd/MM/yyyy" />
                                <span class="btn-default input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label for="">Đơn vị tính</label>
                        <select id="dvt" name="dvt" class="form-control">
                            <option value="1">Đồng</option>
                            <option value="1000" selected>Nghìn đồng</option>
                            <option value="1000000">Triệu đồng</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin: 15px">
                    <div style="float: right">
                        <button class="btn btn-info" id="btnGetBaoCao" onclick="GetBaoCao()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
                        <button class="btn btn-primary" onclick="$('#configBaocao').modal('show');"><i class="fa fa-print" aria-hidden="true"></i>In báo cáo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group" id="divTab">
    <div class="card">
        <div class="card-body">
            <div class="tooltip-header-search">
                <div class="col-sm-8" style="display:flex;padding-left:0px;">
                    <label class="control-label">TỔNG HỢP DỰ TOÁN NGÂN SÁCH NĂM @PhienLamViec.iNamLamViec</label>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li id="li_theodonvi" class="active"><a data-toggle="tab" href="#theodonvi">Tổng hợp theo đơn vị</a></li>
                <li id="li_theodonvibql"><a data-toggle="tab" href="#theodonvibql">Tổng hợp theo đơn vị - BQL</a></li>
                <li id="li_theobqldonvi"><a data-toggle="tab" href="#theobqldonvi">Tổng hợp theo BQL - đơn vị</a></li>
            </ul>

            <div class="card-body tab-content">
                <div id="theodonvi" class="tab-pane fade in active">
                    <div class="" style="overflow:auto" id="showData">

                    </div>
                </div>
                <div id="theodonvibql" class="tab-pane fade in">
                    <div class="" style="overflow:auto" id="showData">

                    </div>
                </div>
                <div id="theobqldonvi" class="tab-pane fade in">
                    <div class="" style="overflow:auto" id="showData">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal in bao cao -->
<div class="modal fade configBaocao" id="configBaocao" tabindex="-1" role="dialog" aria-labelledby="configBaocao" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-bold text-center" id=""></h3>
            </div>
            <div id="" style="overflow: hidden; padding: 0 20px 0 20px; max-height: 700px">
                @Html.Partial("PopupConfigBaoCaoPartial")
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/QLNguonNganSach/QLGiaoDuToan/TongHopDuToanNSNam.js"></script>
<script src="~/Scripts/sheet/jsNumber.js" type="text/javascript"></script>