@{
    ViewBag.Title = "Báo cáo tổng hợp giao dự toán cho các đơn vị trong năm theo nguồn ngân sách " + @PhienLamViec.iNamLamViec;
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

<script src="~/Scripts/js/jquery.bootpag.min.js"></script>
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="card">
    <div class="card-search">
        <div class="form-group header-card">
            <label class="label-title-card color-text-red">Tiêu chí tìm kiếm</label>
            <i class="fa fa-chevron-down fa-1x close-card-condition" aria-hidden="true" data-toggle="collapse" data-target="#card-condition" aria-expanded="true" aria-controls="card-condition"></i>
            <hr />
        </div>
        <div class="card-condition collapse in" id="card-condition">
            <div class="form-group">
                <div class="row" style="margin: 0px">
                    <div class="col-sm-3">
                        <label for="txtNgayBaoCao">Ngày Báo cáo</label>
                        <div style="display:flex">
                            <div class='input-group date col-sm-6'>
                                <input type='text' class="form-control" id="txtTuNgay" placeholder="dd/MM/yyyy" autocomplete="off" />
                                <span class="btn-default input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                            <span style="margin: 8px 5px 0px 5px;">-</span>
                            <div class='input-group date col-sm-6'>
                                <input type='text' class="form-control" id="txtDenNgay" placeholder="dd/MM/yyyy" autocomplete="off" />
                                <span class="btn-default input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label for="">Đơn vị tính</label>
                        <select id="dvt" name="dvt" class="form-control">
                            <option value="1">Đồng</option>
                            <option value="1000" selected>Nghìn đồng</option>
                            <option value="1000000">Triệu đồng</option>
                        </select>
                    </div>
                    <div class="col-sm-3 btn-search-group">
                        <button class="btn btn-info" id="btnGetBaoCao" onclick="GetBaoCao()"><i class="fa fa-search" aria-hidden="true"></i>Tìm kiếm</button>
                        <button class="btn btn-primary" onclick="$('#configBaocao').modal('show');"><i class="fa fa-print" aria-hidden="true"></i>In báo cáo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card hidden" id="contentReport">
    <div class="card-body" style="overflow:auto" id="showData">

    </div>
</div>

<input type="hidden" id="urlExport" value="@Url.Action("ExportExcelTongHopGiaoDuToanLNS")" />
<!-- Modal in bao cao -->
<div class="modal fade configBaocao" id="configBaocao" tabindex="-1" role="dialog" aria-labelledby="configBaocao" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-bold text-center" id=""></h3>
            </div>
            <div id="" style="overflow: hidden; padding: 0 20px 0 20px; max-height: 700px">
                @Html.Partial("PopupConfigBaoCaoPartial")
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/QLNguonNganSach/QLGiaoDuToan/TongHopDuToanPartialLNS.js"></script>