@using Viettel.Models.BaoHiemXaHoi
@model List<QLBenhNhanBHXHViewModel>
@{
    ViewBag.Title = "Danh sách lỗi import bệnh nhân Bảo hiểm xã hội";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}


@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        <input type="hidden" id="lstIdImport" value="@ViewBag.lstImportID">
        <div class="card">
            <div class="card-body" id="lstDataView">
                @Html.Partial("_listBenhNhanLoi", Model)
            </div>

            <div class="form-group text-center">
                <button class="btn btn-back" style="width: 100%" onclick="GoBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Quay lại</span></button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/QLBaoHiemXaHoi/jsQLBenhNhanBHXH_Loi.js"></script>
}

<script>
    var iPargeIndex = 1;
    var lstImportId = [];
    var lstDataUpdate = [];

    $(document).ready(function () { 
        if ($("#lstIdImport").val() != null && $("#lstIdImport").val() != "") {
            $("#lstIdImport").val().split(',').forEach(function (value, index) {
                lstImportId.push(value);
            });
        }
        GetDataTemp();
    });

    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            iPargeIndex = iPargeIndex + 1;
            GetDataTemp(iPargeIndex);
        }
    });
</script>

<style>
    #lstDataView .error {
        background-color: #FFA500;
    }
</style>
