@model Viettel.Models.BaoHiemXaHoi.QLBenhNhanBHXHPagingViewModel
@{
    ViewBag.Title = "Quản lý bệnh nhân điều trị Bảo hiểm xã hội";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}


@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body" id="lstDataView">
                @Html.Partial("_list", Model)
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalBHXHBenhNhan" tabindex="-1" role="dialog" aria-labelledby="modalBHXHBenhNhanLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-bold text-left" id="modalBHXHBenhNhanLabel"></h3>
            </div>
            <div id="contentModalBHXHBenhNhan">

            </div>
        </div>
    </div>
</div>

@* Modal confirm *@
<div id="divModalConfirm">

</div>

@section Scripts{
    @*@Html.Partial("_SheetScript")*@
    <script src="~/Scripts/QLBaoHiemXaHoi/jsQLBenhNhanBHXH.js"></script>
    <script src="/Scripts/sheet/jsNumber.js" type="text/javascript"></script>

    <script>
        var _paging = {};
        $(document).ready(function () {
            _paging.CurrentPage = @Model._paging.CurrentPage ;
            _paging.ItemsPerPage = @Model._paging.ItemsPerPage ;
        });
    </script>
}

