@{
    ViewBag.Title = "Cấu hình in báo cáo";
}
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">@ViewBag.Title</span>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-10">
                    <form action="" class="form-horizontal">
                        <div class="form-group" id="divTongHop">
                            <label class="control-label col-sm-4">Chọn loại báo cáo tổng hợp:</label>
                            <div class="col-sm-8" id="loaiBC">
                                <div class="radio radio-inline radio-success">
                                    <input type="radio" name="loaiBC" checked="checked" value="1" id="loaiBC1" />
                                    <label for="loaiBC1">
                                        Tổng hợp đơn vị cấp 1
                                    </label>
                                </div>
                                <div class="radio radio-inline radio-success">
                                    <input type="radio" name="loaiBC" value="2" id="loaiBC2" />
                                    <label for="loaiBC2">
                                        Tổng hợp đến đơn vị cấp 2
                                    </label>
                                </div>
                            </div>
                        </div>
                        @*@Html.Partial("_ui_dvt")*@
                    </form>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <span class="text-muted">|</span>
                @*<a class="btn-mvc" id="btnChuKy"><i class="fa fa-file-excel"></i>Sửa chữ ký</a>*@
                <a class="btn-mvc" id="btn-cancel" data-dismiss="modal">Hủy</a>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ui_chuky")
<script type="text/javascript">
    $(".btn-print").click(function () {
        var typeBC = $("#typeBC").val();
        var links = [];
        var ext = $(this).data("ext");
        var url = "";
        if (typeBC == "1") {
            var iKieuBC = $("[name=loaiBC]:checked").val();
            var url = $("#urlExportBCTongHop").val() +
                "?ext=" + ext + "&kieuBC=" + iKieuBC;
        } else if (typeBC == "2") {
            var sMaDonViBHXH = $("#cboDonViBHXH").val();
            var iThangFrom = $("#txtThangFrom").val();
            var iThangTo = $("#txtThangTo").val();
            var sMaDonViNS = $("#cboDonViNS").val();
            var iSoNgayDieuTri = $("#txtSoNgayDieuTri").val();
            var sHoTen = $("#txtHoTen").val();
            var sMaThe = $("#txtMaThe").val();

            url = $("#urlExportBCChiTiet").val() +
                "?ext=" + ext + "&sMaDonViBHXH=" + sMaDonViBHXH
                + "&iThangFrom=" + iThangFrom
                + "&iThangTo=" + iThangTo
                + "&sMaDonViNS=" + sMaDonViNS
                + "&iSoNgayDieuTri=" + iSoNgayDieuTri
                + "&sHoTen=" + sHoTen
                + "&sMaThe=" + sMaThe;
        }

        url = unescape(url);
        links.push(url);

        openLinks(links);
    });
</script>
