@model VIETTEL.Areas.DanhMuc.Models.MappingNdcMlncViewModel
@{
    ViewBag.Title = "Mapping mục lục ngân sách chi tiết " + PhienLamViec.iNamLamViec;
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
    //Layout = "~/Views/Shared/sheet/_LayoutSheet.cshtml";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}


<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body">
                <label class="control-label color-text-red"> @ViewBag.Title</label>
                @Html.Partial("_sheet", Model)
            </div>
        </div>
    </div>
</div>
