@using Viettel.Models.QLNH

<div class="modal-body">
    <h6 class="chao-banner1 text-italic text-underline lblBieuMauImport mb-10" onclick="DownloadFileTemplate();">Tải xuống biểu mẫu import</h6>
    <div class="form-group row">
        <div class="col-sm-12">
            <label id="lblUpload" for="inpFileUpload"><span class="ml-10">Lựa chọn file excel</span><i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i></label>
            <input type="file" id="inpFileUpload" name="inpFileUpload" class="hide" accept=".xlsx, .xls" onchange="ChangeFile(this);" />
        </div>
    </div>
    <div class="form-group pull-right mr-10">
        <button class="btn btn-primary mr-10" onclick="LoadDataExcel();">Kiểm tra</button>
        <button class="btn btn-default" onclick="RefreshImport();">Hủy</button>
    </div>
    <div class="form-group row mx-0">
        <div class="col-sm-12 divContainer">
            <div style="width:4440px;height:300px;">
                <table class="table table-bordered" id="tblThongTinDuAnListImport">
                    <thead>
                        <tr>
                            <th width="100">Trạng thái</th>
                            <th width="80">STT</th>
                            <th width="260">Bộ quốc phòng</th>
                            <th width="260">B quản lý</th>
                            <th width="260">Đơn vị</th>
                            <th width="260">Chương trình</th>
                            <th width="260">Mã dự án</th>
                            <th width="260">Tên dự án</th>
                            <th width="260">Số chủ trương đầu tư</th>
                            <th width="260">Ngày chủ trương đầu tư</th>
                            <th width="260">Số quyết định đầu tư</th>
                            <th width="250">Ngày quyết định đầu tư</th>
                            <th width="250">Số dự toán</th>
                            <th width="250">Ngày dự toán</th>

                            <th width="260">Phân cấp phê duyệt</th>
                            <th width="260">Chủ đầu tư</th>
                            <th width="260">Thời gian thực hiện từ</th>
                            <th width="250">Thời gian thực hiện đến</th>
                            <th width="280">Lỗi</th>
                            <th width="120">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Đóng</span></button>
        <button class="btn btn-primary" id="btnSaveImport" onclick="SaveImport();"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
    </div>
</div>
<style>
    #modalThongTinDuAn .lblBieuMauImport {
        cursor: pointer;
    }
    #tblThongTinDuAnListImport {
        table-layout: fixed;
    }
    #modalThongTinDuAn #lblUpload {
        cursor: pointer;
        height: 40px;
        border: 1px solid #CCC;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
    }

        #modalThongTinDuAn #lblUpload i {
            position: absolute;
            right: 5px;
        }

    #modalThongTinDuAn .mx-0 {
        margin-right: 0;
        margin-left: 0;
    }

    #modalThongTinDuAn .divContainer {
        overflow: auto;
        position: relative;
        padding: 0;
    }

    #modalThongTinDuAn ::-webkit-scrollbar {
        height: 5px !important;
    }
</style>
