<div class="modal-body">
    <h6 class="chao-banner1 text-italic text-underline lblBieuMauImport mb-10" onclick="DownloadFileTemplate();">Tải xuống biểu mẫu import</h6>
    <div class="form-group row">
        <div class="col-sm-12">
            <label id="lblUpload" for="inpFileUpload"><span class="ml-10">Lựa chọn file excel</span><i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i></label>
            <input type="file" id="inpFileUpload" name="inpFileUpload" class="hide" accept=".xlsx, .xls" onchange="ChangeFile(this);" />
        </div>
    </div>
    <div class="form-group pull-right mr-10">
        <button class="btn btn-primary mr-10" onclick="LoadDataExcel();">Kiểm tra</button>
        <button class="btn btn-default" onclick="RefreshImport();">Hủy</button>
    </div>
    <div class="form-group row mx-0">
        <div class="col-sm-12 divContainer">
            <div style="width:2630px;height:300px;">
                <table class="table table-bordered" id="tblHopDongListImport">
                    <thead>
                        <tr>
                            <th width="100">Trạng thái</th>
                            <th width="80">STT</th>
                            <th width="230">Đơn vị</th>
                            <th width="230">Chương trình</th>
                            <th width="230">Loại</th>
                            <th width="230">Dự án</th>
                            <th width="240">Tên hợp đồng</th>
                            <th width="240">Số hợp đồng</th>
                            <th width="130">Ngày ký hợp đồng</th>
                            <th width="240">Loại hợp đồng</th>
                            <th width="240">Nhà thầu thực hiện</th>
                            <th width="130">Thời gian thực hiện từ</th>
                            <th width="130">Thời gian thực hiện đến</th>
                            <th width="130">Thời gian thực hiện (ngày)</th>
                            <th width="270">Lỗi</th>
                            <th width="100">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Đóng</span></button>
        <button class="btn btn-primary" id="btnSaveImport" onclick="SaveImport();"><i class="fa fa-download" aria-hidden="true"></i><span>Lưu</span></button>
    </div>
</div>
<style>
    #modalTTHopDong .lblBieuMauImport {
        cursor: pointer;
    }
    #tblHopDongListImport {
        table-layout: fixed;
    }
    #modalTTHopDong #lblUpload {
        cursor: pointer;
        height: 40px;
        border: 1px solid #CCC;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
    }
    #modalTTHopDong #lblUpload i {
        position: absolute;
        right: 5px;
    }
    #modalTTHopDong .mx-0 {
        margin-right: 0;
        margin-left: 0;
    }
    #modalTTHopDong .divContainer {
        overflow: auto;
        position: relative;
        padding: 0;
    }
    #modalTTHopDong ::-webkit-scrollbar {
        height: 5px !important;
    }
</style>
