
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<a class="btn btn-mvc btn-mvc-green btn_save">Lấy số liệu</a>



@using (Html.BeginScripts())
{
    @*@Html.Partial("_JavaScript.Editor")*@


    <script>

        $(".btn_save").click(function () {
            swal({
                title: 'Lấy số liệu?',
                text: 'Bạn chắc chắn muốn lấy số liệu quyết toán. Hệ thống sẽ tự động xoá toàn bộ số liệu đang có của chứng từ và đẩy số liệu nhận vào!',
                type: 'Xác nhận',
                showCancelButton: true,
                cancelButtonColor: '#d33',
                confirmButtonText: 'Lấy số liệu!',
                cancelButtonText: 'Hủy',
            }).then((r) => {

                if (r.value) {

                    //var id = $(this).data("id");
                    //deleteChungTu(id);

                    //$("#btn-submit").submit();

                }

            });
        });


    </script>



}



