@model rptDuToan_THNSNN_ToBiaViewModel
@{

}
<div class="panel panel-danger">
    <div class="panel-heading">
        <span class="text-uppercase font-l">Báo cáo tổng hợp số ngân sách nhà nước năm @PhienLamViec.NamLamViec</span>
    </div>
    <div class="panel-body">
        <div class="container"> 
            <div class="row">
                <div class="col-xs-6">
                    <form action="" class="form-horizontal">                        
                        <div class="form-group">
                            <label class="control-label col-sm-4">Ngành:</label>
                            <div class="col-sm-8">     
                                <div id="iID_MaDonVi" class="ls-box" data-check="first-only">
                                    @Html.Partial("_CheckboxList", new ChecklistModel("Nganh", Model.NganhList))
                                </div>                                                        
                            </div>
                        </div>   
                        <div class="form-group">
                            <label class="control-label col-sm-4">Biểu mẫu:</label>
                            <div class="col-sm-8">
                                <div id="trinhky">
                                    <div class="radio">
                                        <input type="radio" name="trinhky" value="1" id="trinhky-1" checked />
                                        <label for="trinhky-1">Tờ bìa - nội bộ</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="trinhky" value="11" id="trinhky-1"/>
                                        <label for="trinhky-1">Tờ bìa gửi ngành</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="trinhky" value="2" id="trinhky-0"/>
                                        <label for="trinhky-0">Chi tiết phân cấp</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="trinhky" value="21" id="trinhky-0" />
                                        <label for="trinhky-0">Chi tiết phân cấp - gửi ngành</label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="trinhky" value="3" id="trinhky-2" />
                                        <label for="trinhky-2">Tách B</label>
                                    </div>
                                </div>
                            </div>
                        </div>                                                           
                    </form>
                </div>                
            </div>          
            <div class="row text-center">
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="pdf"><i class="fa fa-print"></i> In báo cáo</a>
                <a class="btn-mvc btn-mvc-green btn-print" data-ext="xls"><i class="fa fa-file-excel"></i>Xuất excel</a>
                <a class="btn-mvc" id="btn-cancel" href="@Url.Action("Index", "DuToan_Report" , new { sLoai=1 })">Quay lại</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">    

    $(".btn-print").click(function () {

        var links = [];

        var loai = $("#trinhky input[type='radio']:checked").val();

        var ext = $(this).data("ext");
        $("input:checkbox[check-group='Nganh']").each(function () {
            if (this.checked) {
                var item = this.value;
                var url = '@Url.Action("Print")' +
                    "/?ext=" + ext +
                    "&loai=" + loai +
                    "&nganh=" + item;

                url = unescape(url);
                links.push(url);
            }
        });

        openLinks(links);

    });

</script>
