@{
    Layout = "~/Views/Shared/sheet/_LayoutSheet.cshtml";
    ViewBag.Title = "Mục lục số nhu cầu số kiểm tra của đơn vị năm " + PhienLamViec.iNamLamViec;
}
<h2 style="display:contents">@ViewBag.Title</h2>
@Html.Partial("_sheet")