@model VIETTEL.Areas.DanhMuc.Models.DMLoaiDuToanViewModel
@{
    ViewBag.Title = "Danh sách danh mục dự toán";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/DanhMuc/style.css">
}

<div class="main" id="indexDMLoaiDuToan">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body" style="padding: 1rem;">
                @Html.Partial("_sheet")
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('keydown', eventKey);
    function eventKey(e) {
        if (e != null && e != undefined) {
            if (e.key == "F2") {
                $("#sheet")[0].contentWindow.BangDuLieu_ThemHangMoiViewMaster(0, 0);
            }

            if (e.key == "F10") {
                $("#sheet")[0].contentWindow.ValidateBeforeSave();
            }

            if (e.key == "F9") {
                $("#sheet")[0].contentWindow.BangDuLieu_onKeypress_F9();
            }
        }
    }
</script>
