@model VIETTEL.Areas.DanhMuc.Models.DMLoaiDuToanViewModel
@{
    ViewBag.Title = "Danh sách danh mục dự toán";
    Layout = "~/Views/Shared/_LayoutWebNew.cshtml";
}
<div class="main">
    <div class="panel-list-item col-sm-12">
        <div class="card">
            <div class="card-body">
                @Html.Partial("_sheet")
            </div>
        </div>
    </div>
</div>

