@model ChungTuViewModel

@{
    ViewBag.Title = L("QuyetToan.DanhSachChungTu");
}

<h2>@ViewBag.Title</h2>

<div class="button-bar">
    <a class="btn btn-mvc btn-mvc-green" href="@Url.Action("Create", "ChungTu", new { loai = Model.Search.Loai })">@L("Buttons.Create")</a>
</div>

@Html.Partial("_list", Model.Items)